/** 
Color Pallet

- Flame: #E4572E
- Floral White: #FBFBF2
- Platinum: #E5E6E4
- Delft Blue: #29335C
- Space Cadet: #252E54
- Timber Wolf: #CFD2CD
- Silver: #A6A2A2
- Air Superiority Blue: #669BBC

**/

.header-div {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FBFBF2;
  overflow: hidden;
  width: 100%;
  height: 100px;
  box-shadow:0px 0px 10px rgba(0,0,0,.6);
}

body {
  margin-top:15%;
  background-color: #CFD2CD;
}

h1{
  text-align: left;
  margin-top: 0px;
  color: #29335C;
}

.divDocAll{
  text-align: center;
}

.h2i {
  color: #252E54;
  text-align: left;
  margin-left: 25%;
  margin-bottom: 0%;
}

.h2d {
  color: #252E54;
  margin-bottom: 0px;
  margin-top: 2px;
}

.h3 {
  color: #252E54;
  text-align: left;
  margin-bottom: 0%;
}

.buttonsHeaderF1{
    margin-bottom: 50%;
    text-align: center;
}


.buttonHeader1{
  display: inline-block;
  padding: 15px 30px;
  background-color: #FBFBF2; /* Cor de fundo */
  color: #252E54; /* Cor do texto */
  text-decoration: none; /* Remova sublinhado padrão em links */
  border: none;
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Transforma o cursor em uma mão ao passar por cima */
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s; /* Transição suave da cor de fundo */
}

.buttonHeader1:hover {
  color: #E4572E; /* Cor de fundo ao passar o mouse */
}

.buttonHeader2{
  display: inline-block;
  padding: 15px 30px;
  background-color: #FBFBF2; /* Cor de fundo */
  color: #252E54; /* Cor do texto */
  text-decoration: none; /* Remova sublinhado padrão em links */
  border: none;
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Transforma o cursor em uma mão ao passar por cima */
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s; /* Transição suave da cor de fundo */
}

.buttonHeader2:hover {
  color: #E4572E; /* Cor de fundo ao passar o mouse */
}

.buttonHeader3{
  display: inline-block;
  padding: 15px 30px;
  background-color: #FBFBF2; /* Cor de fundo */
  color: #252E54; /* Cor do texto */
  text-decoration: none; /* Remova sublinhado padrão em links */
  border: none;
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Transforma o cursor em uma mão ao passar por cima */
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s; /* Transição suave da cor de fundo */
}

.buttonHeader3:hover {
  color: #E4572E; /* Cor de fundo ao passar o mouse */
}

.buttonHeader4{
  display: inline-block;
  padding: 15px 30px;
  background-color: #FBFBF2; /* Cor de fundo */
  color: #252E54; /* Cor do texto */
  text-decoration: none; /* Remova sublinhado padrão em links */
  border: none;
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Transforma o cursor em uma mão ao passar por cima */
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s; /* Transição suave da cor de fundo */
}

.buttonHeader4:hover {
  color: #E4572E; /* Cor de fundo ao passar o mouse */
}

.buttonsHeaderF2{
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: right;
}

.buttonReturn{
  position: fixed;
  top: 5%;
  right: 5%;
  display: inline-block;
  padding: 10px 20px;
  background-color: #E4572E; /* Cor de fundo */
  color: #FBFBF2; /* Cor do texto */
  text-decoration: none; /* Remova sublinhado padrão em links */
  border: none;
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Transforma o cursor em uma mão ao passar por cima */
  font-size: 16px;
  box-shadow:0px 0px 8px rgba(0,0,0,.6);
  font-weight: bold;
  transition: background-color 0.3s; 
}

.buttonReturn:hover {
  background-color: #669BBC; /* Cor de fundo ao passar o mouse */
}

.form-container{
      margin-top: 10%;
      text-align: center;
}

input {
    width: 700px;
    height: 25px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

.button-1{
  display: inline-block;
  padding: 15px 30px;
  background-color: #E4572E; /* Cor de fundo */
  color: #FBFBF2; /* Cor do texto */
  text-decoration: none; /* Remova sublinhado padrão em links */
  border: none;
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Transforma o cursor em uma mão ao passar por cima */
  font-size: 16px;
  box-shadow:0px 0px 8px rgba(0,0,0,.6);
  font-weight: bold;
  transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

.button-1:hover {
  background-color: #669BBC; /* Cor de fundo ao passar o mouse */
}

.footer-div {
  background-color: #FBFBF2;
  text-align: center;
  bottom: 0;
  left: 0;
  height: 80px;
  position: fixed;
  width: 100%;
  box-shadow:0px 0px 10px rgba(0,0,0,.6);
}

.footer-a {
  display: inline-block;
  padding: 15px 30px;  
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #252E54;
}


