<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./static/css/style.css">
        <title>QR Code Generator</title>
    </head>
    <body>

        <h1>QR Code Generator</h1> <br><br>

        <form class="form-container" action="/" method="post"> 

            <div class="input-button-div">
                <h2>Digite Abaixo o Link que você deseja transformar em QR Code.</h2> <br><br>
                <input type="text" id="iptBox" name="data"><br><br>
                <button class="button-1" type="submit" value="Submit" name="submitQr">QR Gen</button>
            </div>

        </form> <br><br>
        
        <div class="footer-div"> 
            <a href="https://github.com/ailsonguedes" target="_blank">Powered By Ailson Guedes</a>
        </div>
    </body>
</html>