<title>QR Code Generator</title>

<div class="header-div">
    <form class="buttonsHeaderF1" action="/" method="GET">

        <h1>Logo</h1> 
        <button class="buttonHeader1" type="button" onClick="window.location.href='{{ url_for( 'docs') }}';">Documentation</button>
        <button class="buttonHeader2" type="button">Donate</button>
        <button class="buttonHeader4" type="button" onclick="window.location.href='{{ url_for( 'gitPage') }}';">GitHub</button>
        <button class="buttonHeader3" type="button" onclick="window.location.href='{{ url_for( 'contact') }}';">Contact</button>    
    </form>
</div>
